  <section class="partida">
    <div class="container-fluid pb-5">
      <br><br>
        <h3 class="mx-auto">{{displayName}}</h3>
        <br>
      <br>
          <h1>{{options[userOpcion]}}</h1>
      <br>
            <div
              class="col col-sm-4 opcion p-3"
              v-for="(option, key) in options"
              v-if="mostrarOpcionesJugador"
              :key="key"
              @click="select(key)"
            >
            {{option}}
            </div>
      <br />
      <br />
          <input type="button" class="btn"
	    v-if="mostrarOpcionesJugador"
	    @click="terminar" value="Terminar turno"
	    :class="turnoTerminado ? 'btn-danger': 'btn-success'"/>
    </div>
  </section>
