  <section class="partida"
  :class="!(partida.abierta) ? (partida.ganador) ? (partida.ganador == 'Empate') ? 'resultadoEmpate' : (partida.ganador == uid) ? 'resultadoPerdedor': 'resultadoGanador' : 'partidaAbierta': 'partidaAbierta'">
    <div class="contenedorPartidas">
      <h5 class="mx-auto">{{partida.names[0]}}</h5>
      <h3 v-if="partida.ganador != 'Empate' && partida.ganador">Ganador: {{(partida.ganador == partida.contricante) ? partida.names[0]:  partida.names[1]}} </h3>
      <h3 class="textoNaranja" v-if="partida.ganador == 'Empate' && partida.ganador">Empate</h3>
      <h5 class="mx-auto">{{partida.names[1]}}</h5>
      <router-link :to="'/sala/' + partida.id"><p class="pStyle05">Juego</p></router-link>  
  </div>
  </section>
