<section
class="contBloque"
:class="hasErrors ? 'animated tada': ''"
>
<header>
  <div class="logo"></div>
</header>
<section class="col ">
  <br><br>
  <h3>Iniciar sesion</h3>
  <AlertsComponent
    :error="hasErrors"
    :message="errMessage"
  >
  </AlertsComponent>
  <br>
  <div class="contenEntrada">
    <p class="pStyle">Correo</p>
    <input
      type="email"
      placeholder="Escribe tu correo"
      class="form-control"
      v-model="usuario.email"
      @keypress="hasErrors = false"
    />
  </div>
  <div class="mb-2">
    <p class="pStyle">Contraseña</p>
    <input
      type="password"
      placeholder="Escribe tu contraseña"
      class="form-control"
      v-model="usuario.password"
      @keypress.enter="login"
    />
  </div>
  <router-link
      :to="{name: 'SignUp'}"
      :class="$route.name=='about'?'btn':''"
    ><p class="pStyle02">¿Contraseña olvidada?</p></router-link>
    <br><br>
  <input
    type="button"
    value="Entrar"
    class="btn btn-block btn-rosa"
    @click="login"
  />
  <p class="pStyle03">¿No tienes una cuenta?
      <router-link
        :to="{name: 'SignUp'}"
        :class="$route.name=='SignUp'?'btn':'' "
      ><div class="pStyle04">¡Regístrate!</div></router-link></p>
    <div class="logoRed Face"></div>
    <div class="logoRed Twitter"></div>
  </div>
</section>
</section>