<section
class="contBloque"
:class="hasErrors? 'animated tada': ''"
>
<head>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>
<header>
  <div class="logo"></div>
</header>
<section class="col ">
  <AlertsComponent
    :error="hasErrors"
    :message="errMessage"
  ></AlertsComponent>
  <br><br>
  <h3>Registro</h3>
  <br>
  <div class="contenEntrada">
    <p class="pStyle">Nombre de usuario</p>
    <input
      type="email"
      placeholder="Escribe tu nombre"
      class="form-control"
      v-model="usuario.email"
    />
  </div>
  <div class="contenEntrada">
    <p class="pStyle">Correo electronico</p>
    <input
      type="text"
      placeholder="Escribe tu correo"
      class="form-control"
      v-model="usuario.nombre"
    />
  </div>
  <div class="mb-2">
    <p class="pStyle">Contraseña</p>
    <input
      type="password"
      placeholder="Escribe tu contraseña"
      class="form-control"
      v-model="usuario.password"
      @keypress.enter="signUp"
    />
  </div>
  <br><br>
  <input
    type="button"
    value="Registrarse"
    class="btn btn-block btn-rosa"
    @click="signUp"
  />
  <br />
</section>
</section>