<section class="contBloque">
    <header>
      <div class="logo"></div>
    </header>
    <section class="col ">
      <div class="fotoPerfil"><img
          :src="photoURL"
          :srcset="usuario.photoURL"
          class="fotoPerfil"
        /></div>
      <input
        type="url"
        :placeholder="usuario.photoURL || 'gravatar.com/user'"
        class="form-control"
        v-model="photoURL"
      />
      <h3>{{usuario.displayName}}</h3>
      <div class="contenEntrada">
        <p>Correo</p>
        <input
          type="email"
          placeholder="olivia.jhonson@oliv.co.m"
          class="form-control"
          v-model="usuario.email"
        />
      </div>
      <div class="contenEntrada">
        <p>Nombre de usuario</p>
        <input
          type="text"
          placeholder="nombre mostrado"
          class="form-control"
          v-model="displayName"
        />
      </div>
      <div class="mb-2">
        <p>Contraseña</p>
        <input
          type="password"
          placeholder="Contraseña"
          class="form-control"
          @keypress.enter="updateData"
        />
      </div>
      <div class="contenEntrada">
        <p>Numero telefonico</p>
        <input
          type="cellpbhone"
          placeholder="(656) 123 4567"
          class="form-control"
          v-model="phoneNumber"
        />
      </div>
      <input
        type="button"
        value="Actualizar"
        class="btn btn-block btn-rosa"
        @click="updateData"
      />
      <br />
    </section>
  </section>
