$transparentWhite: rgba(255, 255, 255, 0.6); 
.partida {
    border-radius: 25px;
  
    color: whitesmoke;
  
    background-color: $transparentWhite;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contBloque {
    width: 400px;
    height: 500px;
    border-radius: 50px;
  }
  
  .opciones {
    background: white;
    .opcion {
      cursor: pointer;
      &:hover {
        background:  rgb(91, 7, 94) ;
      }
    }
  }